{
    "branches": [
        "v+([0-9])?(.{+([0-9]),x}).x",
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/github",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "../../updateVersion.sh '${nextRelease.version}' 'BlazorLeaflet/BlazorLeaflet.csproj'"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "BlazorLeaflet/BlazorLeaflet.csproj"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ]
    ]
}